*.o
.DS_Store
.*.swp
/env
/dl
/n2*
/pinan*
/.config
/.config.old
/*.config
/bin
/build_dir
/staging_dir
/tmp
/logs
/feeds.conf
/files
/package/base-files/src/kostelnet
/package/base-files/src/kostelnet.x
/package/base-files/files/sbin/boot*
/feeds/*.tmp
/feeds/*.index
/feeds/*.targetindex
/package/feeds
/package/kosapp
/package/test
/package/mtk
/package/openwrt-packages
key-build*
*.orig
*.rej
*~
.#*
*#
.emacs.desktop*
TAGS*~
git-src
